body {
  background-color: #111;
  color: #00ffcc;
  font-family: 'Segoe UI', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#clock {
  font-size: 4em;
  letter-spacing: 5px;
  margin-top: 20px;
}
